* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
}

body {
    background-color: #25282a;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;

}

.wrapper-slider {
    width: 70%;
    display: grid;
    place-items: center;

    gap: 20px;
    grid-template-areas:
    "slider slider"
    "subtitle nav"
}

.slider {
    width: 100%;
    overflow: hidden;
    height: auto;
    grid-area: slider;
}

.items {
    width: 500%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper input {
    display: none;
}

.item {
    display: block;
    width: 20%;
    transition: all 0.9s ease 0s;
}

.item img {
    width: 100%;
    height: 100%;
}

.nav {
    width: 100%;
    display:flex;
    justify-content: end;
    align-items: center;
    gap: .5em;
    grid-area: nav;
}

.nav-item {
    width: 1em;
    height: 1em;
    cursor: pointer;
    padding: 0.1em;
}

.nav-item div {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0.1em solid #71abfe;
    background-color: #71abfe;
    border-radius: 50%;
    transition: all 0.5s ease 0s;
}


.nav-item:hover div {
    transition: all 0.3s ease 0s;
    border: 0.1em solid white;
    background-color: white;
}

.subtitle {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    grid-area: subtitle;
    width: 100%;
    display:flex;
    justify-content: start;
    align-items: center;    
}

.subtitle > div {
    opacity: 0;
    position: fixed;
    transition: opacity 0.9s ease 0s;
}


#s1:checked ~ .wrapper-slider > .slider > .items > .s1 {
    margin-left: 0;
}
#s1:checked ~.wrapper-slider > .nav > label:nth-child(1) > div {
    background-color: inherit;
    transition: all 0.9s ease 0s;
}
#s1:checked ~.wrapper-slider > .subtitle > div:nth-child(1) {
    opacity: 1;
    transition: opacity 0.5s ease 0s;
}

#s2:checked ~ .wrapper-slider > .slider > .items > .s1{
    margin-left: -40%;
}
#s2:checked ~.wrapper-slider > .nav > label:nth-child(2) > div {
    background-color: inherit;
    transition: all 0.5s ease 0s;
}
#s2:checked ~.wrapper-slider > .subtitle > div:nth-child(2) {
    opacity: 1;
    transition: opacity 0.9s ease 0s;
}

#s3:checked ~ .wrapper-slider > .slider > .items > .s1 {
    margin-left: -80%;
}
#s3:checked ~.wrapper-slider > .nav > label:nth-child(3) > div {
    background-color: inherit;
    transition: all 0.5s ease 0s;
}
#s3:checked ~.wrapper-slider > .subtitle > div:nth-child(3) {
    opacity: 1;
    transition: opacity 0.9s ease 0s;
}

#s4:checked ~ .wrapper-slider > .slider > .items > .s1 {
    margin-left: -120%;
}
#s4:checked ~.wrapper-slider > .nav > label:nth-child(4) > div {
    background-color: inherit;
    transition: all 0.5s ease 0s;
}
#s4:checked ~.wrapper-slider > .subtitle > div:nth-child(4) {
    opacity: 1;
    transition: opacity 0.9s ease 0s;
}

#s5:checked ~ .wrapper-slider > .slider > .items > .s1 {
    margin-left: -160%;
}
#s5:checked ~.wrapper-slider > .nav > label:nth-child(5) > div {
    background-color: inherit;
    transition: all 0.5s ease 0s;
}
#s5:checked ~.wrapper-slider > .subtitle > div:nth-child(5) {
    opacity: 1;
    transition: opacity 0.9s ease 0s;
}