* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}

body {
	background-color: #25282a;
}

.wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper-slider {
	width: 70%;
	display: grid;
	place-items: center;
    grid-template-columns: 1fr auto;
	gap: 2em;
	grid-template-areas:
		"slider slider"
		"subtitle nav";
}

.slider {
	width: 100%;
	overflow: hidden;
	height: auto;
	grid-area: slider;
	border-radius: 2em;
}

.items {
	width: 500%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper input {
	display: none;
}

.item {
	display: block;
	width: 20%;
	transition: all 0.9s ease 0s;
}

.item img {
	width: 100%;
	height: 100%;
}

.nav {
	width: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 0.5em;
	grid-area: nav;
}

.nav-item {
	width: 1.5em;
	height: 1.5em;
	cursor: pointer;
	padding: 0.1em;
    display:flex;
    justify-content: center;
    align-items: center;
}

.nav-item div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 80%;
	border: 0.1em solid #71abfe;
	background-color: #71abfe;
	border-radius: 50%;
	transition: all 0.5s ease 0s;
}

.nav-item:hover div {
	transition: all 0.3s ease 0s;
	border: 0.1em solid white;
	background-color: white;
}

.subtitle {
	color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	grid-area: subtitle;
	width: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
	font-weight: bold;
	font-size: calc(1em + (50 - 20) * ((100vw - 500px) / (1920 - 500)));
}

.subtitle > div {
	display: none;
	transition: opacity 0.9s ease 0s;
}

@media (max-width: 900px) {
    .wrapper-slider {
        width: 90%;
    
        gap: 2em;
        grid-template-areas:
            "slider slider"
            "nav nav"
            "subtitle subtitle";
    }
    
    .subtitle {
        justify-content: center;
    }

    .nav {
        justify-content: center;
    }

    .slider {
        border-radius: 1em;
    }
}

#s1:checked ~ .wrapper-slider > .slider > .items > .s1 {
	margin-left: 0;
}
#s1:checked ~ .wrapper-slider > .nav > label:nth-child(1) > div {
	background-color: inherit;
	transition: all 0.9s ease 0s;
}
#s1:checked ~ .wrapper-slider > .subtitle > div:nth-child(1) {
	display: block;
    animation: show 1s linear 0.1s both;
}

#s2:checked ~ .wrapper-slider > .slider > .items > .s1 {
	margin-left: -40%;
}
#s2:checked ~ .wrapper-slider > .nav > label:nth-child(2) > div {
	background-color: inherit;
	transition: all 0.5s ease 0s;
}
#s2:checked ~ .wrapper-slider > .subtitle > div:nth-child(2) {
	display: block;
	animation: show 1s linear 0.1s both;
}

#s3:checked ~ .wrapper-slider > .slider > .items > .s1 {
	margin-left: -80%;
}
#s3:checked ~ .wrapper-slider > .nav > label:nth-child(3) > div {
	background-color: inherit;
	transition: all 0.5s ease 0s;
}
#s3:checked ~ .wrapper-slider > .subtitle > div:nth-child(3) {
	display: block;
	animation: show 1s linear 0.1s both;
}

#s4:checked ~ .wrapper-slider > .slider > .items > .s1 {
	margin-left: -120%;
}
#s4:checked ~ .wrapper-slider > .nav > label:nth-child(4) > div {
	background-color: inherit;
	transition: all 0.5s ease 0s;
}
#s4:checked ~ .wrapper-slider > .subtitle > div:nth-child(4) {
	display: block;
	animation: show 1s linear 0.1s both;
}

#s5:checked ~ .wrapper-slider > .slider > .items > .s1 {
	margin-left: -160%;
}
#s5:checked ~ .wrapper-slider > .nav > label:nth-child(5) > div {
	background-color: inherit;
	transition: all 0.5s ease 0s;
}
#s5:checked ~ .wrapper-slider > .subtitle > div:nth-child(5) {
	display: block;
	animation: show 1s linear 0.1s both;
}

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
